.larghezza-massima {
  width: 20% !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.descrizione-evento {
  white-space: normal;
  max-height: 3em;
  line-height: 1em;
}

.add-icon {
  font-size: 2em;
  color: white;
}

.sad-icon {
  font-size: 3em;
  color: #eb445a;
}

.happy-icon {
  font-size: 3em;
  color: #25e471;
}

.font-family {
  color: white;
  font-size: 30px;
}

.font-rating {
  font-size: 30px;
}

ion-card {
  width: 100%;
  border-color: black;
  border-radius: 30px;
  border-style: solid !important;
  border-width: thin;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

ion-item {
  --ion-item-background: #1e1e1e;
}

@media only screen and (min-width: 768px) {
  ion-card {
    width: 750px;
  }
}
